@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Work+Sans:wght@300&display=swap');
*,*::before, *::after{
    box-sizing: border-box;
    user-select: none;

}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(156, 242, 242);
}
.world{
    overflow: hidden;
    position: relative;

}
.score{
    position: absolute;
  font-size: 6vmin;
  /* right: 1vmin; */

  left: 50%;
   height: 60px;
   width: 80px;
   border: 2px solid black;
    padding: 1%;


}
.start-screen {
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .start-screen {
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    font-family: 'Roboto Condensed', sans-serif;
    transform: translate(-50%, -50%);
  }
  
.hide {
    display: none;
}
.ground{
    --left:0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left)*1%);
     
}
.dino {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
  }
  .cactus {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 30%;
    bottom: 0;
  }